::root {
  --gunmetal: #2C363F;
  --redCrayola: #F51146;
  --manatee: #8D98A7;
  --cultured: #EDEDED;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #ededed;
}


.container {
  display: flex;
  width: 30%;
  justify-content: center;
  margin: auto;
}

.header {
  justify-content: space-around;
  display: flex;
}

.logo img {
  padding-top: 4px;
  padding-bottom: 2px;
  width: 120px;
}

.header a {
  text-decoration: none;
  color: #fd1952;
}

.agora {
  font-weight: 600;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  color: #fd1952;
  justify-content: space-around;
}

.navbar_menu {
  width: 100%;
  display: flex;

}

.navbar li {
  justify-content: space-around;

}

.btn_login {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-cadastro {
  width: 150px;
  height: 50px;
  border-radius: 180px;
  position: relative;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor: pointer;
  line-height: 12px;
}

.btn-cadastro:before {
  content: '';
  z-index: 1;
  position: absolute;
  display: block;
  width: 80%;
  height: 70%;
  top: 15%;
  left: 10%;
  transition: 0.3s opacity ease-in-out;
  filter: blur(15px);
  opacity: 0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.btn-cadastro:hover:before {
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
  filter: blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.btn-cadastro:after {
  content: 'cadastrar';
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: rgba(235, 235, 235, 1);
  font-weight: bold;
  z-index: 5;
  position: absolute;
  display: block;
  border-radius: 180px;
  width: 92%;
  height: 80%;
  top: 10%;
  left: 4%;
  background-color: rgb(19, 20, 22);
}



.btn_container {
  width: 50%;
  justify-content: space-around;
  display: flex;
}

/* BANNER */

.banner {
  height: 100vh;
  padding: 40px 0;
  color: white;
  background-image: url(".././assets/imgs/banner.png");
  background-size: cover;
}

.banner .container {
  height: 650px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo {
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
}

.banner .container span {
  font-weight: 800;
}

/* INFO */
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 70%;
}

.content {
  display: flex;
}

/* TEXTO */
.texto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragrafo {
  width: 70%;
  margin-right: 50px;
}

/* VIDEO */

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

.footer {
  box-sizing: border-box;
  background-color: #000000;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
}


/* LOGIN */

.banner .container .card {
  background-color: #000000;
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #fd1952;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 26px;
  color: #ebebeb;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #fd1952 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 18px;
  font-weight: 400 !important;
  text-align: left;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  height: 100%;
}

.info-usuario {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info-usuario .info1 {
  width: 100%;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.info-usuario .info2 {
  width: 100%;
  align-self: flex-end;
  display: flex;
  align-items: center;
}


.formulario-perfil {
  width: 100%;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 2px #fd1952;
  background: transparent;
  color: #fff;
  outline: none;
  width: 250px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border-width: 2px;
  border-color: #fd1952;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 15px;
  color: #fd1952;
  background-color: transparent;
  width: 100px;
  align-self: center;
  margin-top: 5px;
  text-align: center;
}

.btn:hover>a {
  color: #ebebeb;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: 100vh;
  position: relative;
  top: 50%;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #fd1952;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #fd1952;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #fd1952;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}


/* PAGINA CARDS*/

.dados {
  margin-top: 5%;
  color: #000000;
  background-color: #EDEDED;
  padding: 50px 100px;
  border: 2px solid #F51146;
  height: 100px;
  width: 60%;
  border-radius: 5px;
}

/* SWIPER */

.swiper {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  height: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  background: rgb(0, 0, 0);
}